@model IEnumerable<PROG3050.Models.SecurityQuestion>

@{
    ViewBag.Title = "Password Recovery";
}

<h2>Password Recovery</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <input type="hidden" name="account" value="@ViewBag.Account">
        @foreach (var item in Model)
        {
            if (item.AccountName == ViewBag.Account)
            {
                @Html.DisplayFor(modelItem => item.Question)<br />
                <input class="form-control text-box single-line" id="Answer_@Html.DisplayFor(modelItem => item.Question)" name="Answer_@Html.DisplayFor(modelItem => item.Question)" type="text">
            }
        }
        <hr />
        <div class="form-group">
            <div class="col-md-10">
                New Password
                <input class="form-control text-box single-line valid" id="newPassword" name="newPassword" type="password" value="">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                Confirm Password
                <input class="form-control text-box single-line valid" id="confirmPassword" name="confirmPassword" type="password" value="">
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit!" class="btn btn-success" />
            </div>
        </div>
    </div>
}

