body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.banner {
    font-size: 24pt;
    color: #187a65;
}

.navbar-nav a {
    color: #187a65;
}

.login-prompt {
    width: 500px;
    margin: auto;
}

.btn, input {
    margin-bottom: 5px;
}

.base-link > a {
    color: #187a65;
    text-decoration: none;
    transition: 0.25s;
}
.base-link > a:hover {
    padding-right:10px;
}

.navbar-nav > li > a {
    transition: 0.25s;
}