@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="panel panel-success login-prompt">
        <div class="panel-heading">
            <h4>Wow!</h4>
        </div>
        <div class="panel-body">
            <span class="text-muted">Hope you like VIDEO GAMES, KIDDO.</span>
        </div>
    </div>
</div>

<div class="row">

</div>